.cursor,
.cursorTrail {
  width: 20px;
  height: 20px;
  border: 2px solid #00fff9;
  border-radius: 50%;
  position: fixed;
  /* Changed back to fixed for smoother scrolling */
  pointer-events: none;
  z-index: 9999;
  will-change: transform, width, height, border-radius;
  transition: width 0.3s, height 0.3s, border-radius 0.3s;
}

.cursor {
  background-color: rgba(0, 255, 249, 0.3);
}

.cursorTrail {
  background-color: rgba(0, 255, 249, 0.1);
  transition: all 0.1s ease-out;
}

body:hover .cursor {
  width: 40px;
  height: 40px;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}
